:root {
  --primary-color: #f06595;
  --secondary-color: #e64980;
  --tertiary-color: #d6336c;

  --bg-color: #c2255c;

  --text-white: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", sans-serif;
  background-color: #f7f7f7;
}

::selection {
  background-color: var(--tertiary-color);
  color: var(--text-white);
}

/* ***********************************
HEADER
*/

.header,
.sessions {
  background-image: linear-gradient(
      to right,
      rgba(230, 73, 128, 0.8),
      rgba(214, 51, 108, 0.8)
    ),
    url(../img/hero.png);
  /* height: 100vh; */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.header {
  min-height: 100vh;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.nav__image {
  width: 7%;
}

.nav__bars {
  color: var(--text-white);
  font-size: 1.8rem;
  cursor: pointer;
  display: none;
  position: absolute;
  top: 1rem;
  right: 0;
}

.nav__list {
  list-style: none;
  display: flex;
}

.nav__item:not(:last-child) {
  margin-right: 4rem;
}

.nav__link {
  text-decoration: none;
  color: #444;
  text-transform: uppercase;
  font-size: 1.5rem;
  color: #fff;
  padding: 0.4rem 0;
  border-bottom: 2px solid transparent;
  transition: all 0.4s ease;
}

.nav__link:hover {
  border-bottom: 2px solid #700527;
}

.hero__content {
  margin-top: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero__paragraph {
  color: var(--text-white);
  font-size: 2.6rem;
  margin-bottom: 2rem;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.85rem;
}

.hero__image {
  margin-top: 5%;
}

.hero__photo {
  width: 40rem;
  height: 40rem;
}

/* ***********************************
ABOUT
*/

.about {
  position: relative;
  padding: 4rem 0;
  height: 150vh;
}

.pink-box {
  height: 40rem;
  width: 60rem;
  background-color: var(--bg-color);
  position: absolute;
  top: 4rem;
  right: 6rem;
}

.about__photo {
  width: 80%;
  position: absolute;
  top: 40rem;
  left: 50%;
  transform: translate(-50%, -50%);
}

.about__box {
  background-color: #dee2e6;
  padding: 4.5rem 2rem;
  width: 30rem;
  position: absolute;
  top: 55rem;
  left: 20rem;
}

.about__heading {
  text-transform: uppercase;
  letter-spacing: 0.4rem;
  font-size: 2.4rem;
  margin-bottom: 0.8rem;
}

.about__paragraph {
  font-size: 1.6rem;
  line-height: 1.8;
}

.about__btn {
  margin-top: 2rem;
  background: none;
  border: 2px solid var(--tertiary-color);
  padding: 0.8rem 1.8rem;
  font-size: 1.7rem;
  transition: all 0.5s ease;
}

.about__btn:hover {
  cursor: pointer;
  background-color: var(--tertiary-color);
  color: var(--text-white);
}

.about__online {
  background-color: #1864ab;
  color: var(--text-white);
  padding: 4.5rem 2rem;
  width: 30rem;
  position: absolute;
  top: 65rem;
  right: 8rem;
}

.about__tertiary {
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  font-size: 1.6rem;
  margin-bottom: 2rem;
}

.about__huge {
  text-transform: capitalize;
  font-size: 4rem;
  letter-spacing: 0.3rem;
}

/* ***********************************
SESSIONS
*/

.sessions {
  padding: 4rem 0;
}

.sessions__heading {
  text-transform: uppercase;
  color: var(--text-white);
  text-align: center;
  font-size: 2.6rem;
  margin-top: 3rem;
  letter-spacing: 0.3rem;
  margin-bottom: 4.5rem;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
  gap: 4rem;
}

.card {
  background-color: rgba(255, 255, 255, 0.6);
  /* width: 25%; */
  padding: 2rem 1rem;
  border-radius: 0.3rem;
  transition: all 0.5s ease;
}

.card:hover {
  transform: translateY(-2rem) scale(1.06);
}

.card__title {
  text-transform: uppercase;
  font-size: 1.5rem;
  margin-bottom: 0.8rem;
  color: #222;
}

.card__description {
  font-size: 1.6rem;
  line-height: 1.6;
}

.card__description:not(:last-child) {
  margin-bottom: 1.2rem;
}

.card__button {
  text-decoration: none;
  color: #333;
  border: 2px solid var(--secondary-color);
  padding: 0.6rem 1.4rem;
  font-size: 1.6rem;
}

.card__button:hover {
  background-color: var(--secondary-color);
  color: var(--text-white);
  transition: all 0.4s ease;
}

.contacts {
  background-color: #f4f4f4;
}

.contact {
  background-image: linear-gradient(
      105deg,
      rgba(255, 255, 255, 0.9) 0%,
      rgba(255, 255, 255, 0.9) 50%,
      transparent 50%
    ),
    url(../img/contact.png);
  background-size: cover;
  padding: 5rem;
  margin: 10rem;
}

.contacts__heading {
  text-align: center;
  text-transform: uppercase;
  font-size: 3.4rem;
  margin-top: 3rem;
  margin-bottom: 4rem;
  letter-spacing: 0.4rem;
  color: var(--secondary-color);
}

.contact__heading {
  font-size: 2.2rem;
  text-transform: uppercase;
  margin-bottom: 2rem;
  letter-spacing: 0.2rem;
  color: var(--tertiary-color);
}

.contact__paragraph {
  font-size: 1.6rem;
  width: 50%;
  margin-bottom: 2rem;
  line-height: 1.6;
}

.contact__list {
  list-style: none;
}

.contact__item {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.contact__link {
  color: var(--secondary-color);
  text-decoration: none;
}

.form__heading {
  font-size: 2.6rem;
  font-weight: 400;
  margin-bottom: 2rem;
  margin-top: 3rem;
}

.contact__form label {
  display: block;
  font-size: 1.6rem;
  margin-bottom: 0.6rem;
}

.contact__form input {
  font-style: inherit;
  font-size: 1.4rem;
  margin-bottom: 1rem;
  padding: 0.5rem 1.2rem;
  width: 30%;
}

.contact__form input:focus {
  outline: none;
}

.btn-submit {
  background-color: var(--bg-color);
  color: var(--text-white);
  padding: 0.8rem 1.8rem;
  border: none;
  font-size: 1.6rem;
  border-radius: 100px;
  margin-top: 2rem;
  cursor: pointer;
}

/* ***********************************
FOOTER
*/

.footer {
  background-color: #555;
  color: #fff;
  padding: 2rem 0;
}

.media {
  display: grid;
  grid-template-columns: 40% 40%;
  gap: 10%;
  margin-bottom: 3rem;
}

.media__heading {
  font-size: 2.3rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

.media__paragraph {
  font-size: 1.6rem;
  line-height: 1.4;
}

.media__paragraph:not(:last-child) {
  margin-bottom: 1.2rem;
}

.media__paragraph a {
  text-decoration: none;
  color: var(--secondary-color);
}

.media__list {
  display: flex;
  list-style: none;
}

.media__item {
  font-size: 1.8rem;
}

.media__item:not(:last-child) {
  margin-right: 3rem;
}

.media__social {
  color: #fff;
}

.media__social i {
  transition: all 0.4s ease;
}

.media__social:hover i {
  transform: scale(1.2);
}

.copyright {
  font-size: 1.7rem;
  text-align: center;
}

.copyright:not(:last-of-type) {
  margin-bottom: 1rem;
}
