.container {
  padding: 2rem 6rem;
}

.btn {
  border: none;
  border-radius: 100px;
  padding: 1.4rem 2.4rem;
  font-size: 1.6rem;
  transition: all 0.5s ease;
}

.btn:hover {
  padding: 1rem 2.1rem;
}

.btn-white {
  background-color: #f4f4f4;
}

.btn-primary {
  background-color: var(--bg-color);
  color: var(--text-white);
  text-decoration: none;
  font-size: 1.8rem;
  text-transform: uppercase;
  margin-top: 3rem;
}

.heading-primary {
  color: var(--text-white);
  font-size: 4.2rem;
  margin-bottom: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 1.4rem;
}

.sticky {
  position: fixed;
  background-color: var(--bg-color);
  width: 100%;
  top: 0;
  z-index: 99;
}
